beautifulsoup4==4.14.2
black==25.9.0
certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.3.0
distlib==0.4.0
filelock==3.19.1
flake8==7.3.0
identify==2.6.15
idna==3.10
iniconfig==2.1.0
joblib==1.5.2
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pre_commit==4.3.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pytokens==0.1.10
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requests-cache==1.2.1
scikit-learn==1.7.2
scipy==1.16.2
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.34.0
wheel==0.45.1
yamllint==1.37.1
